In [1]:
import os
os.chdir(r'C:\Users\Admin\Desktop\CA\Python Blogs')

In [2]:
import pandas as pd
dataset = pd.read_excel('OneHotEncoding.xlsx')

In [4]:
dataset

     Name     Rating     State Age Range
0    John    Average   Arizona     21-25
1   James  Excellent  New York     26-30
2  Mathew        Bad     Texas     21-25
3   Sarah        Bad     Texas     31-35
4  Andrew  Excellent   Arizona     21-25

In [3]:
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder

In [8]:
OneHot = OneHotEncoder(sparse=False)
OneHot.fit_transform(dataset[['State']])

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.]])

In [9]:
ordinal = OrdinalEncoder(categories=[['Excellent','Average','Bad'], ['21-25','26-30','31-35']])
ordinal.fit_transform(dataset[['Rating','Age Range']])

array([[1., 0.],
       [0., 1.],
       [2., 0.],
       [2., 2.],
       [0., 0.]])