In [1]:
import os
os.chdir(r'C:\Users\Admin\Desktop\CA\Python Blogs')

In [2]:
import pandas as pd

In [4]:
dataset = pd.read_excel('ColumnTransformer_data.xlsx')

In [7]:
dataset

     Name               Internship  Gender   Age
0    John  Artificial Intelligence    Male  23.0
1   James         Machine Learning    Male   NaN
2  Mathew             Data Science    Male  21.0
3   Sarah    Business Intelligence  Female  24.0
4  Andrew             Data Science    Male  22.0

In [5]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import make_column_transformer

In [6]:
ohenc = OneHotEncoder()
impute = SimpleImputer()

In [9]:
CTrans = make_column_transformer(
(ohenc, ['Internship','Gender']),
(impute, ['Age']),
remainder = 'passthrough'
)

In [10]:
CTrans.fit_transform(dataset)

array([[1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 23.0, 'John'],
       [0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 22.5, 'James'],
       [0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 21.0, 'Mathew'],
       [0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 24.0, 'Sarah'],
       [0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 22.0, 'Andrew']], dtype=object)